* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nerko One", cursive;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  background-color: cadetblue;
}

header {
  margin-top: 20px;
}
header > h1 {
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
main {
  width: 70%;
  margin: auto;
  margin-top: 40px;
}
.cards {
  position: relative;
  margin: 20px;
  float: left;
  width: calc(100% / 4 - 40px);
  height: 250px;
}
.cards span {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}
.card_top,
.card_back {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
.card_top {
  z-index: 1;
}

.card_back {
  object-fit: contain;
  z-index: 0;
}

.cards:hover .card_top {
  z-index: -1;
}

.Tram {
  color: red;
}
.Bicycle {
  color: yellow;
}
.Submarine {
  color: steelblue;
}
.Tractor {
  color: orange;
}
.Air-Baloon {
  color: purple;
}
.Cruise {
  color: olive;
}

footer > span {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 1.5rem;
}
